$primary-color-a: #FA887A;
$primary-color-b: #2DB88E;
$primary-color-c: #f4efe4;
$primary-color-d: #e9676c;
$primary-color-e: #fff9f9;

$secondary-color-a: #303E48;
$secondary-color-b: #FFFFFF;

$font-family-sans-serif: "Lato", "Arial", "sans-serif";

$body-text-color: $secondary-color-a;
$body-text-size: 16px;
$body-text-font-family: $font-family-sans-serif;

$heading-color: $primary-color-b;
$heading-font-family: $font-family-sans-serif;

$link-color: $primary-color-d;
$link-text-decoration: underline;
$link-hover-color: $primary-color-b;

$grid-max-width: 1200px;
$grid-gutter-small: 12px;
$grid-gutter-large: 15px;

$btn-border-radius: 5px;

$bp-a: 600px;
$bp-b: 960px;
$bp-c: 1280px;
