.container-four-zero-four {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5em;
 
}

.title-four-zero-four {
 border-right: 5px solid $primary-color-a;
 padding: 0.5em;
 margin-right: 1em;
}
.content-four-zero-four {
    width: 15%;
}