.address-map {
  @include gridWidth;
  display: flex;
  flex-direction: column;
  
  @media only screen and (min-width: 768px) {
    flex-direction: row;
    margin: 0 80px 20px;
  }
}

.address-map__column {
  @include col(12, 12, true, true);
  font-size: 14px;

  @media only screen and (min-width: 768px) {
    &:first-child {
      @include col(7, 12, true, false);

      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    &:last-child {
      @include col(5, 12, false, true);

      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 40px !important;
    }
  }

  & .title {
    margin-top: $spacing;

    @media only screen and (min-width: 768px) {
      margin-top: $spacing * 0.75;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .address-map__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .address-map__column-address {
      width: 50%;
      line-height: 25px;
      text-align: left;
      letter-spacing: 0;
      color: #181F27;
      opacity: 0.9;

      .address-map__row-open-title {
        font-size: 20px;
        letter-spacing: 0;
        color: $primary-color-b;
        opacity: 0.9;
        font-weight: 700;
      }
    }

    p {
      font-weight: 400;
      margin-bottom: 10px;
    }

    .address-map__row-title {
      font-weight: 700;
    }
  }
}
