.address-map {
  @include gridWidth;
}

.address-map__column {
  @include col(12, 12, true, true);

  @media only screen and (min-width: 768px) {
    &:first-child {
      @include col(8, 12, true, false);

      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    &:last-child {
      @include col(4, 12, false, true);

      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .address-map__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    .address-map__column-address {
      line-height: 25px;
      text-align: left;
      letter-spacing: 0;
      color: #181F27;
      opacity: 0.9;

      .address-map__row-open-title {
        font-size: 20px;
        letter-spacing: 0;
        color: $primary-color-b;
        opacity: 0.9;
        font-weight: 700;
      }
    }

    p {
      font-weight: 400;
    }

    .address-map__row-title {
      font-weight: 700;
    }
  }
}
