.contact-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: #F2F1EC;
  }
  
.contact-form__wrapper {
    @include col(8, 12, true, true);

    width: 100%;
    height: calc(100% - 80px);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;

    h3 {
        text-align: center;
        margin-bottom: 40px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .btn {
            padding: 20px 80px;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            letter-spacing: 0;
            color: #181F27;
            opacity: 0.9;
        }
    }
}

.contact-form__wrapper-label {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;

    input[type=text], select {
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        margin: 8px 0;
    }

    label {
        margin: 0 30px;
    }
}

.contact-form__wrapper-label-message {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 38%;
    margin-bottom: 20px;
    
    input[type=text], select textarea {
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        margin: 8px 0;
        height: 214px;
    }
          
    label {
        width: 100%;
    }
}