.donate-items {
    background: $primary-color-c;
    position: relative;
    margin-bottom: 115px;
}

.donate-items__wrapper {
    @include gridWidth;

    @media only screen and (max-width: 1279px) {
        max-width: 100vw;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: -60px;
        left: 0;
        width: 100%;
        height: 70px;
        background: url("../img/brown-brush.svg") center top no-repeat;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -40px;
        left: 0;
        width: 100%;
        height: 70px;
        background: url("../img/bottom-brush-white.svg") center top no-repeat;
    }
}

.donate-items__row_1 {
    @include col(12, 12);

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;

    .donate-items-title {
        text-align: center;
        font:  45px/55px Lato;
        letter-spacing: 0;
        color: #181F27;
        opacity: 1;
    }

    .donate-items-subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0;
        color: #181F27;
        opacity: 1;

        @media only screen and (min-width: 768px) {
            padding: 0;
            max-width: 700px;
            margin: 0 auto;
            font-size: 20px;
        }
    }
}

.donate-items__row_2 {
    @include col(12, 12);
    
    display: flex;
    justify-content: center;
    text-align: center;
    
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        margin-right: -15px;
        overflow: hidden;
      }

    .donate-items__column {
        position: relative;
        vertical-align: middle;
        width: 25%;
        height: 261px;
        display: flex;
        flex-direction: column;
        background: white;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;


        @media only screen and (max-width: 768px) {        
            width: 100%;
            margin-bottom: 15px;
        }

        .donate-items-label {
            opacity: 0;
            height: 0;
            position: absolute;
            text-align: center;
            font: 24px/30px Lato;
            font-weight: 700;
            letter-spacing: 0;
            color: #FFFFFF;
        }

        .donate-items-button{
            opacity: 0;
            height: 0;
            padding: 16px 60px;
            position: absolute;
            bottom: 15px;
            text-align: center;

            em {
                font-weight: 700;
            }
        }

        &:hover {
            background-color: $secondary-color-a;
            color: $secondary-color-b;

            .donate-item__image {
                opacity: 0.3;
            }

            .donate-items-button{
                opacity: 1;
                height: auto;
            }

            .donate-items-label {
                opacity: 1;
                height: auto;
            }
        }




    }

    .donate-item__image {
        height: 183px;
        width: 183px;        
    }

    
}

.donate-items__row_3 {
    @include col(12, 12);

    display: flex;
    justify-content: center;
    padding: 50px 0;

    .donate-items-wishlist-button {
        text-align: center;
        background: #FFB036;
        width: 30%;
        padding: 20px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        em {
            font-weight: 700;
        }

        @media only screen and (max-width: 768px) {        
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
