.featured {
  margin-bottom: 100px;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    margin-bottom: 160px;
  }
}

.featured__wrapper {
  @include gridWidth;
}

.featured__row_1 {
  @include col(12, 12);

  justify-content: center;
  display: flex;
  border-top: 1px solid $color-grey-1;
  padding-top: 40px;

  @media only screen and (min-width: 768px) {
    padding-top: 70px;
  }

  .featured__row_1_text {
    text-align: center;
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 28px;
    letter-spacing: 0;
    color: $text-grey-dark;
    opacity: 1;
    margin-bottom: 40px;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      font-size: 38px;
      margin-bottom: 50px;
    }
  }
}

.featured__row_2 {
  @include col(12, 12);

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

  .featured___column {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    min-height: 125px;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 768px) {
      width: 50%;
    }

    @media only screen and (min-width: 1024px) {
      width: 25%;
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-self: center;
      height: 100%;
      width: 100%;
    }
  }
}

.featured__logo {
  max-height: 130px;
  max-width: 200px;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  img {
    width: auto;
    height: 150px;

    @media only screen and (min-width: 768px) {
      height: 200px;
    }
  }
}

.featured__description {
  padding: 20px;
}
