.feature-component {
    background: $primary-color-b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      width: 100%;
    }

    &:before {
      top: -20px;
      height: 30px;
      background: url('../img/green-brush-top.svg') center top no-repeat;
      background-size: cover;
    }

    &:after {
      bottom: -30px;
      height: 40px;
      background: url('../img/green-brush-bottom.svg') center top no-repeat;
      background-size: cover;
    }
  }
  
  .feature-component__wrapper {
    @include gridWidth;
  
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    margin-top: 80px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 56%;
      left: -30px;
      height: 316px;
      width: 345px;
      background: url('../img/coffee-ring.svg') center right no-repeat;
      background-size: cover;
    }
  }
  
  .feature-component__col {
    position: relative;
    z-index: 1;
    width: 50%;

    &:first-child {
      // @include col(6, 12, true, false);
  
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  
    &:last-child {
      // @include col(6, 12, false, true);
  
      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        right: -30px;
        height: 538px;
        width: 213px;
        background: url('../img/photo-frame.svg') center right no-repeat;
        background-size: contain;
      }
    }

    .feature-component__col-image {
        width: 528px;
        height: 599px;
    }
  }

  .feature-component__donate {
    display: flex;
    flex-direction: column;
  
    h1 {
      margin-bottom: 15px;
    }
  
    p {
      line-height: 26px;
    }
  }
    
  .feature-component__donate-cta {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .feature-component__donate-btn {
    padding: 20px 16px;
    color: black;
    margin-right: 15px;

    &.btn--style-b {
        background-color: blanchedalmond;
    }
  }
  