.footer__wrapper {
  @include gridWidth();
}

.footer__column {
  background: #F2F1EC;
  padding: 60px;
  @include col(4,12);
  float: left;
  width: 25%;
  height: 100%;
  
  .footer__title {
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: 0;
    opacity: 1;
    font: Bold 24px/31px Lato;
    color: #181F27;
  }
  
  .footer__text {
    letter-spacing: -0.16px;
    color: #222222;
    opacity: 0.6;
    line-height: 24px; 
    margin-top: 0;
  }

  .footer__copyright {
    letter-spacing: 0;
    color: #222222;
    opacity: 0.6;
    margin-top: 65px;
  }

  .footer__list {
    padding: 0;
    margin-top: 0;
    list-style: none;

    li {
      margin-bottom: 21px;
    }

    .footer__list_item {
      text-decoration: none;
      letter-spacing: 0;
      color: #222222;
      opacity: 0.6;  
    }
  }

  .footer__list_social {
    list-style: none;
    padding: 0;
    margin-top: 0;

    a {
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 0.9;
      
      .fa {
      padding-right: 17px; 
      font-size: 24px;
      }
    }   
  }

  .footer__list_social_button {
    text-align: center;
    text-decoration: none;
    padding: 15px 107px;
    border-radius: 5px;
    background: #259FF2 0% 0% no-repeat padding-box;
    margin: 1px 0 14px 0;
    opacity: 1;
    display: flex;
    align-items: center;

    &.social_twitter {
      background-color: #259FF2;
    }

    &.social_facebook {
      background-color: #3C5799;
    }

    &.social_instagram {
      background-color :#862391;
    }

  }

}


  // .footer__list_social_item {
  //   letter-spacing: 0;
  //   color: #222222;
  //   opacity: 0.9;
  //   margin: 1px 0 24px 0;
  //   background: #259FF2 0% 0% no-repeat padding-box;
  //   border-radius: 5px;
  //   opacity: 1;
  //   height: 60px;
  //   text-align: center;
  //   vertical-align: middle; 
  //   line-height: 60px;      

  //   &.social_twitter {
  //     background-color: #259FF2;
  //   }

  //   &.social_facebook {
  //     background-color: #3C5799;
  //   }

  //   &.social_instagram {
  //     background-color :#862391;
  //   }
  // }
// }



@media screen and (max-width: 600px) {
  .footer__column {
    width: 100%;
  }
}

/* Clear floats after the columns */
//   .row:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
