.homepage-hero {
  background: $primary-color-c;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -55px;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("../img/brush-home-bottom.svg") center bottom no-repeat;
    background-size: contain;
  }

  @media only screen and (min-width: 768px) {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.homepage-hero__wrapper {  
  width: 100%;
  padding-top: 110px;

  @media only screen and (max-width: 768px) {
    padding-top: 80px;
  }
  
  @media only screen and (min-width: 768px) {
    @include gridWidth;
    height: calc(100% - 80px);
    display: flex;
  }
}

.homepage-hero__col {
  &:first-child {
    padding: 24px;

    @media only screen and (min-width: 768px) {
      padding: 80px 24px 24px;
    }
  }

  @media only screen and (min-width: 768px) {
    &:first-child {
      @include col(7, 12, true, false);

      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    &:last-child {
      @include col(5, 12, false, true);

      justify-content: center;
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }
}

.homepage-hero__title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 12px;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 15px;
    max-width: 480px;
  }
}

.homepage-hero__subtitle {
  max-width: 480px;
  line-height: 1.6;
}
