.lead-text {
  @include gridWidth;

  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.lead-text__col {
  @include col(8, 12, true, true);

  text-align: center;
}

.lead-text__text {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  opacity: 1;

  .leadText__color {
    color: $primary-color-b;
  }
}
