.lead-text {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 0;
    width: 100%;
    height: 70px;
    background: url("../img/bottom-brush-white.svg") center top no-repeat;
    background-size: contain;
  }
}

.lead-text__wrapper {
  @include gridWidth;

  display: flex;
  justify-content: center;
  padding: $spacing-double * 1.5 $spacing;

  @media only screen and (min-width: 768px) {
    padding: 48px 0 24px 0;
  }
}

.lead-text__col {
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 768px) {
    @include col(7, 12, true, true);
  }
}

.lead-text__text {
  font-size: $text-xl;
  line-height: 1.4;
  
  @media only screen and (min-width: 768px) {
    font-size: 32px;
    text-align: center;
  }
  .leadText__color {
    color: $primary-color-b;
  }
}
