.lead-text {
  @include gridWidth;

  display: flex;
  justify-content: center;
  padding: $spacing-double *1.5 $spacing;

  @media only screen and (min-width: 768px) {
    padding: 95px 0 40px 0;
  }
}

.lead-text__col {
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 768px) {
    @include col(8, 12, true, true);
  }
}

.lead-text__text {
  font-size: $text-xl;
  @media only screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 55px;
    text-align: center;
  }
    .leadText__color {
      color: $primary-color-b;
    }
  }

