.partners {
    @include gridWidth;
  
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  
.partners__wrapper {
    @include col(8, 12, true, true);

    text-align: center;
    letter-spacing: 0;
    
    h3 {
        font-size:  36px;
        color: #181F27;
    }
    
    p {
        padding: 20px;
        font-size:  22px;
        color: #181F27;
    }
}



