.tab {
  display: flex;
  flex-direction: column;
}

.tab.is-inverted {
  flex-direction: column-reverse;
}

.tab__button-wrapper {
  position: relative;
  display: flex;
}

.tab__button {
  padding: 10px 8px;
  margin-bottom: 15px;
  border: 0;
  border-radius: 5px;
  flex: 1;
  margin: 5px;
  background: #182027;
  color: $secondary-color-b;  
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #182027;
  }
}

.tab__button.is-active {
  background: $primary-color-a;

  &:after {
    border-top-color: $primary-color-a;
  }
}

.tab__content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.tab__content {
  padding: 15px;
  line-height: 1.6;
  opacity: 0;
  grid-row-start: 1;
  grid-column-start: 1;
  display: flex;
}

.tab__content.is-active {
  opacity: 1;
}

.tab__content-col {
  flex: 1;
}
